<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        {{pageTitle}}
                    </h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <a [routerLink]="['Welcome']">Home</a>
                    </li>
                    <li class="list-group-item">
                        <a [routerLink]="['Products']">Product List</a>
                    </li>
                    <li class="list-group-item">
                        <a [routerLink]="['AddProduct']">Add Product</a>
                    </li>
                    <li class="list-group-item">
                        <a [routerLink]="['AddUser']">Add User</a>
                    </li>
                    <li class="list-group-item">
                        <a [routerLink]="['TypedSha']">Using Third Party Libraries / Typed</a>
                    </li>
                    <li class="list-group-item">
                        <a [routerLink]="['UnTypedSha']">Using Third Party Libraries / UnTyped</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>